{% extends 'base.html' %}


{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form action="{% url 'tela_principal' %}" method="post">
        {% csrf_token %}
        <input type="email" id="email" name="email" placeholder="Email" required><br>
        <input type="password" id="password" name="password" placeholder="Senha" required><br>
        <input type="submit" value="Login">
    </form>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
</div>

{% endblock %}
